/* Variables */

:root {
  --white: #ffffff;
  --black: #272727;
  --yellow: #fff200;
  --yellow2: #f6b93b;
  --purple: #351435;
  --purple: #351435;
  --red: #f44336;
  --green: #2ce771;
}

.buttons-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 80px 200px 80px;
}

.btn-cont {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
}

.btn {
  position: relative;
  padding: 40px 80px;
  width: fit-content;
  text-decoration: none;
  color: var(--black);
  font-family: sans-serif;
  border: 4px solid var(--black);
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.buttons-wrap a {
  flex: 0 0 48%;
}

/* Rotating Button Effect! */
.btn1 {
  overflow: hidden;
}
.btn1:before {
  background-color: var(--yellow);
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.btn1:hover:before {
  transform: rotate(0deg);
}

/* Swipe Button Effect! */
.btn2 {
  overflow: hidden;
  transition: all 0.5s;
}
.btn2:hover {
  color: var(--white);
}
.btn2:before {
  background-color: var(--purple);
  transform: translateX(-100%);
  transition: all 0.5s;
}
.btn2:hover:before {
  transform: translateX(0%);
}

/* Creative Button Effect! */
.btn3 {
  /* overflow: hidden; */
  transition: all 0.5s;
}
.btn3:hover {
  color: var(--white);
}
.btn3:before {
  background-color: var(--black);
  transform: rotateX(90deg);
  transition: all 0.5s;
}
.btn3:hover:before {
  transform: rotateX(0deg);
}
.btn3:after {
  background-color: var(--black);
  transform: rotateY(90deg);
  transition: all 0.5s;
}
.btn3:hover:after {
  transform: rotateY(0deg);
}

/* Stretching Effect!  */
.btn4 {
  padding: 30px 50px;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}

.btn4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid var(--purple);
}

/* Stretching Effect!  */
.btn5 {
  overflow: hidden;
  transition: all 0.5s;
}
.btn5:before {
  content: 'YEAH!';
  background-color: var(--red);
  transform: translateY(-100%);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn5:hover:before {
  transform: translateY(0%);
}

/* Glowing Effect!  */
.btn6 {
  overflow: hidden;
  transition: all 0.5s;
}
.btn6:hover {
  background-color: var(--red);
  color: var(--white);
}
.btn6:before {
  content: '';
  background-color: var(--black);
  transform: translateX(-120%) rotate(45deg);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

/* Two layers swapping effect!  */
.btn7 {
  overflow: hidden;
  color: transparent;
  transition: all 0.5s;
}
.btn7:before {
  content: 'Hover Me!';
  color: var(--black);
  background-color: var(--yellow);
  transform: translateX(0%);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn7:hover:before {
  transform: translateX(100%) translateY(-100%);
}
.btn7:after {
  content: 'Hover Me!';
  color: var(--black);
  background-color: var(--yellow);
  transform: translateX(-100%) translateY(100%);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn7:hover:after {
  transform: translateX(0%) translateY(0%);
}

/* Text scaling button!  */
.btn8 {
  overflow: hidden;
  transition: all 0.5s;
}
.btn8:before {
  content: 'Hover Me!';
  color: var(--white);
  background-color: var(--black);
  transform: scale(5);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
}

.btn8:hover:before {
  transform: scale(1);
  opacity: 1;
}

/* Circular swapping button!  */
.btn9 {
  color: tomato;
  border: 2px solid tomato;
  background: none;
  overflow: hidden;
  transition: all 0.5s;
}
.btn9:hover {
  color: var(--white);
}
.btn9:before {
  content: '';
  position: absolute;
  background-color: tomato;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 50% 50%;
  height: 0;
  z-index: -1;
}

.btn9:hover:before {
  height: 200%;
}

/* Rotating 3 layers button!  */
.btn10 {
  position: relative;
  color: var(--white);
  background-color: var(--yellow);
  letter-spacing: 2px;
  transition: all 0.5s;
}
.btn10:before {
  content: 'Hover Me!';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  z-index: 1;
}
.btn10:hover:before,
.btn10:hover:after {
  transform: rotateX(0deg);
}
.btn10:after {
  content: 'Hover Me!';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition-delay: 0.5s;
  z-index: 1;
}

/* Swapping from left to right!  */
.btn11 {
  position: relative;
  color: transparent;
  overflow: hidden;
}
.btn11:before {
  content: 'Hover Me!';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--yellow);
  background-color: var(--black);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btn11:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}
.btn11:after {
  content: 'Hover Me!';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: var(--yellow);
  background-color: var(--black);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotateY(0deg);
  transform-origin: top;
  opacity: 0;
}
.btn11:hover:after {
  opacity: 1;
  left: 0;
  transform: scale(1) rotateY(360deg);
}

/* 3 circles to background button! */
.btn12 {
  position: relative;
  background-color: none;
  color: tomato;
  border: none;
  display: flex;
  justify-content: center;
}
.btn12:hover {
  color: var(--black);
  transition-delay: 0.4s;
}
.btn12:before,
.btn12:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  transform: translateY(-50%);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}
.btn12:before {
  left: 0;
  box-shadow: -100px 0 0 tomato;
}

.btn12:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 tomato;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
.btn12:after {
  left: auto;
  right: 0;
  box-shadow: 100px 0 0 tomato;
}
.btn12:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 tomato;
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}
.btn12 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
}
.btn12:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
  z-index: -1;
}

/* Creative hover effect! */
.btn13 {
  position: relative;
  background-color: none;
  color: var(--white);
  border: none;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
}
.btn13:hover {
  color: var(--black);
}
.btn13:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: blue;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  transform-origin: top center;
  z-index: -1;
}
.btn13:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
.btn13:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: tomato;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  transform-origin: bottom;
  z-index: -1;
}
.btn13:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

/* Splitted button effect! */
.btn14 {
  position: relative;
  color: var(--yellow2);
  border: 3px solid var(--yellow2);
  display: flex;
  justify-content: center;
  transform: all 0.5s;
  overflow: hidden;
}
.btn14:hover {
  color: var(--black);
}
.btn14:before,
.btn14:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--yellow2);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top center;
  z-index: -1;
}
.btn14:before {
  top: 0;
  left: -25%;
}
.btn14:after {
  top: -100%;
  left: 25%;
}
.btn14:hover:before {
  top: 0;
  left: 0;
}
.btn14:hover:after {
  top: 0;
  left: 25%;
}

.btn14 span:before,
.btn14 span:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--yellow2);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top center;
  z-index: -1;
}
.btn14 span:before {
  top: 0;
  right: -25%;
}
.btn14 span:after {
  bottom: -100%;
  right: 25%;
}
.btn14:hover span:before {
  top: 0;
  right: 0;
}
.btn14:hover span:after {
  bottom: 0;
  right: 25%;
}

/* Creative border swapping effect! */
.btn15 {
  position: relative;
  color: var(--yellow2);
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: all 0.5s;
  /* overflow: hidden; */
}
.btn15:before {
  content: '';
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  border-left: 2px solid red;
  border-right: 2px solid var(--yellow2);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.btn15:after {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  border-top: 2px solid red;
  border-bottom: 2px solid var(--yellow2);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.btn15:hover:before {
  transform: rotateY(180deg);
}
.btn15:hover:after {
  transform: rotateX(180deg);
}